/* HEADER */
/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #eba95e;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  margin-left:30%;
}


/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Styles for body */

body{
  background: rgb(235, 114, 44);
  background: linear-gradient(90deg, rgb(247, 216, 195) 6%, rgb(237, 240, 95) 33%, rgb(250, 167, 167) 100%);
  font-family: Arial, Helvetica, sans-serif;
}

.PageHeader1{

  position:absolute;
  align-content: center;
  top:100px;width:400px;height:462px;

}
#status_Table{
  position:center ;
  margin: auto;
  height:99px;z-index:3;
  width:400px;
  height:99px;
  }
  #studentInfo{
    left:9px;
    width:200px;
    top:100px;
  }


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media only screen and (max-width: 500px) {  

  /* Five List*/
  .header {
    overflow: hidden;
    background-color: #eba95e;
    padding: 3px 3px;
  }
  
  .header a {
    float: none;
    display:table-cell;
    text-align: left;
    height: 5px;
    font-size: 12px;
  }

  #status_Table{
    position:absolute;left:50px;top:60px;width:600px;height:99px;z-index:3;
    }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  
  .header a.logo {
    font-size: 15px;
    font-weight: bold;
    margin-left:40%;
  }
  img.avatar {
          width: 40px;
          height: 40px;
          border-radius: 40%;
        }
  .header-right {
    float: none;
  }
  

  #studentInfo{
    left:9px;
    width:200px;
    top:200px;
  }

#status_Table{
  position:absolute;
  left:20px;
  top:150px;
  width:300px;
  height:99px;z-index:3;
  }

}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
/* Styling for choice passed to ballot page*/


/*Selected Candidates Styels*/
